@import url(./Global.css);

.cart-summary{
    width: 100%;
    max-width: 500px; 
    align-items: center;
    margin: 3rem 2rem;
    padding: 2rem 2rem;

   
}

.cart-summary h2{
       font-size: 14px;
}


.local-storage img{
    width: 100%;
    max-width: 60px;

}
.single-product{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    border-bottom: 1px solid black;
    padding: 10px;
   

}


.contSecond{
    display: flex;
    flex-direction: column;
}

.remove{
    background-color:orange;
    color: black;
    width: 75px;
    border-radius: 6px;
    border: none;
}

.checkout-btn{
    background-color: orange;
    color:black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    max-width: 150px;
}