@import url(./Global.css);

.cart-main{
    width: 100%;
    max-width: 80rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 80vh;
    margin: 0 auto;

    @media(max-width:1280px){
        width: 94%;
    }
}

.cart-summary{
    width: 100%; 
    align-items: center;
    padding: 2rem 2rem;

   
}

.cart-summary h2{
       font-size: 14px;
}


.local-storage img{
    width: 100%;
    max-width: 60px;

}
.total-box{
    width: 100%;
    height: 180px;
    padding: 1rem;
    border: 1px solid black;
}

.single-product{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    border-bottom: 1px solid black;
    padding: 10px;
   

}


.contSecond{
    display: flex;
    flex-direction: column;
}

.remove{
    background-color:orange;
    color: black;
    width: 75px;
    border-radius: 6px;
    border: none;
}

.checkout-btn{
    background-color: orange;
    color:black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    max-width: 150px;
}