@import url(./Global.css);
@import url(./loader.css);



nav {
    width: 100%;
    height: 80px;
    background: #022D36;
}

label.logo {
    font-size: 35px;
    color: white;
    margin: 0 70px;
    line-height: 80px;
}

nav ul {
    float: right;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin-right: 5rem;
    gap: 2rem;

}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    padding: 8px 8px;

}

nav ul li a .active,
a:hover {
    background: lightseagreen;

}

#checkbtn {
    float: right;
    line-height: 80px;
    margin-right: 10px;
    font-size: 30px;
    color: white;
    display: none;
}

#check {
    display: none;
}

#check:checked~ul {
    left: 0;
}

@media(max-width:400px) {
    label .logo {
        font-size: 20px;
        margin: 0 20px;
    }

}

@media(max-width:895px) {

    #checkbtn {
        display: block;
    }

    nav ul {
        width: 100%;
        height: 50vh;
        background: #022D36;
        position: fixed;
        top: 80px;
        left: -100%;
    }

    nav ul li {
        display: block;
        text-align: center;
        transition: .5s;
        line-height: 40px;
        margin: 15px;


    }

}


.header-img {
    width: 100%;
    max-width: 2000px;
   
}

.explore-heading {
    align-content: flex-start;
    margin: 1rem 4rem;
    font-family: 'inter', sans-serif;
    font-size: clamp(16px, 1vw + 1rem, 24px);

}

.intro-paragraph {
    margin: 1rem 4rem;
}



.jackets {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1rem 2rem;
    gap: 1rem;


}

img {
    width: 100%;
    max-width: 600px;


}

.container {
    align-items: center;
    justify-content: center;
    margin: 3rem 2rem;

}


.jacket-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px grey;
    background-color: #B3C0C2;
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    gap: 1rem;

}

/* .black-week{
    width: 100%;
    max-width: 1700px;
   

} */

.seller-heading {
    margin: 3rem 4rem;
    border-bottom: 2px solid black;
    width: 100%;
    max-width: 1000px;
    font-size: clamp(16px, 1vw + 1rem, 24px);

}



.men-collection {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    width: 100%;
    max-width: 1000px;
    border: 1px solid black;
    background: #6998a2;


}

.men-collection img {
    width: 100%;
    max-width: 450px;

    @media(max-width:1195px) {
        max-width: 100%;
    }

}

.collection {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 2rem;
    gap: 4rem;
    height: fit-content;

}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
    margin: 2rem 1rem;
    margin-left: 1.5rem;

}

.content p {
   width: 100%;
   font-size: clamp(10px, 1vw + 1rem, 16px);
}

.shop-now {
    background-color: orange;
    color: black;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    max-width: 150px;

}






@media (max-width:1195px) {
    .best-seller {
        display: flex;
        grid-template-columns: repeat(3, 1fr);
    }

    .men-collection {
        display: flex;
        flex-direction: column;
    }

    .collection {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .seller-heading {
        margin: 1rem 1rem;
        width: 100%;
        max-width: 400px;

    }


}

@media (max-width:790px) {


    .best-seller {
        display: flex;
        grid-template-columns: repeat(2, 1fr);
    }

    .men-collection {
        display: flex;
        flex-direction: column;
    }

    .collection {
        display: flex;
        flex-direction: column;
        margin: 1rem 1rem;
    }

    .content p {
        max-width: 500px;
         font-size: clamp(10px, 1vw + 1rem, 16px);
     }



}