@import url(./Global.css);


.body-centered {
    width: 90%;
    padding-bottom: 4rem;
    margin-left: 2rem;

}


.parent-div{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 3rem 3rem;
    align-items: center;
}

.product-img{
    width: 100%;
    max-width: 400px;
   
}

.child-div{
    display: flex;
    flex-direction: column;
    gap: 0.5 rem;
    justify-content: center;

}

.jacket-detail{
display: flex;
flex-direction: column;


}

.button{
    background-color:orange;
    color: #fff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-top: 1rem;
    padding: 0.5rem 2rem;
    max-width: 150px;
   

}



/* .jacket-store {
    font-size: clamp(14px, 1vw+1rem, 30px);
    font-family: 'inter', sans-serif;
    font-style: bold;
    color: black;
    margin-top: 5rem;

}


.product-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px grey;
    background-color: lightgray;
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    gap: 1rem;

    >a img {
        width: 100%;
    }
} */

/* >h2 {
        font-size: clamp(14px, 1vw+1rem, 30px);
        font-family: 'inter', sans-serif;
        font-style: bold;
        margin: 0;
    }

    >p {
        font-size: clamp(14px, 1vw+1rem, 30px);
        font-family: 'inter', sans-serif;
        font-style: bold;
        margin: 0;

    }

    >h3 {
        font-size: clamp(14px, 1vw+1rem, 30px);
        font-family: 'inter', sans-serif;
        font-style: bold;
        margin: 0; */



.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5rem;
    margin-bottom: 7rem;

}

@media (max-width:1190px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width:790px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

}